body {
    background-color: azure;
}
.destacado {
    text-decoration: underline;
}
#especial {
    color: darkturquoise;
}
p {
    font-size: 20px;
}
a:link, a:visited, a:active {
	text-decoration: underline;
	}
a:hover {
	background: burlywood;
	color: red;
}